body {
  background-color: #00a29a;
}

h1 {
  font-family: arial;
  color:#F08080;
  text-align: center;
}
h2 {font-family: arial;
  color:#47f3c4;
  text-align: center;
}

p {
  font-family: arial;
  font-size: 20px;
  color: white;
  text-align: center; 
}
